<ion-header>
  <ion-toolbar>
    <ion-title>HarryPotter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let ator of atores">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ator.image}}" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>{{ator.name}}</h3>
        <h5>{{ator.house}}</h5>
        <p>{{ ator.dateOfBirth }}</p>
        <p>{{ ator.wand.wood }}</p>
        <ion-badge slot="end">{{ator.yearOfBirth}}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
